


<!-- MAIN -->
<div class="main">

    <!-- TOP BAR -->
    <header class="bar top-bar">

        <h1 class="bar-title bar-title-md text-left">Canjear Cupón</h1>

					<span class="bar-nav bar-nav-right">
						<a class="btn-icon" href="#/info">
                            <span class="icon ic-cancel-circle"></span>
                        </a>
					</span>

    </header>

    <!-- CONTENT -->
    <div class="content">

        <div class="form-group">
            <input type="text" ng-model="coupon_code" class="form-control input-lg">
        </div>

        <button class="btn btn-primary btn-block" ng-click="redeem()">Canjear</button>

    </div><!-- /content -->

</div><!-- /main -->