

<!-- TOP BAR -->
<header class="bar top-bar">

    <h1 class="bar-title bar-title-md text-left">Impresión</h1>

					<span class="bar-nav bar-nav-right">
						<a class="btn-icon" href="#/info">
                            <span class="icon ic-cancel-circle"></span>
                        </a>
					</span>

</header>

<!-- CONTENT -->
<div class="content">

    <div class="entry">

        <h2>Optimizadas</h2>
        <p>Nuestras impresiones están optimizadas para la resolución de las fotos tomadas con tu smartphone.</p>

        <h2>Papel</h2>

        <p>Imprimimos en papel fotográfico profesional con terminaciones mate y borde blanco.</p>

        <h2>Tamaños</h2>

        <dl>
            <dt><span class="text-success text-md">10 x 15 cms</span></dt>
            <dd>Para fotos rectangulares</dd>

            <dt><span class="text-success text-md">15 x 15 cms</span></dt>
            <dd>Para fotos cuadradas (Instagram)</dd>
        </dl>

    </div><!-- /entry -->

</div><!-- /content -->