

<div class="flex-align">

    <div class="content">

        <section class="section-narrow">
            <a class="btn btn-default btn-block" href="#/info/impresion">Impresión</a>
            <a class="btn btn-default btn-block" href="#/info/precios">Precios</a>
            <a class="btn btn-default btn-block" href="#/info/envio">Envío</a>
            <a class="btn btn-default btn-block" href="#/info/soporte">Soporte</a>
            <a class="btn btn-default btn-block" href="#/info/cupon">Canjear Cupón</a>
            <a class="btn btn-primary btn-block" href="#/">Volver</a>
        </section>

    </div><!-- /content -->

</div><!-- /flex-align -->