

<!-- TOP BAR -->
<header class="bar top-bar">

    <h1 class="bar-title bar-title-md text-left">Soporte</h1>

					<span class="bar-nav bar-nav-right">
						<a class="btn-icon" href="#/info">
                            <span class="icon ic-cancel-circle"></span>
                        </a>
					</span>

</header>

<!-- CONTENT -->
<div class="content">

    <div class="form-group">
        <textarea class="form-control" rows="4" placeholder="Nos encataría escuchar sobre ti, escríbenos tu comentario o sugerencia y te contactaremos lo antes posible."></textarea>
    </div>

    <div class="form-group">
        <input type="email" class="form-control" placeholder="Email">
    </div>

    <button class="btn btn-primary btn-block" type="submit">Enviar</button>

</div><!-- /content -->