


<!-- MAIN -->
<div class="main no-top-bar">

    <!-- SLIDER -->
    <div class="slider" id="slider-tutorial">

        <!-- SLIDE -->
        <div class="slide">

            <div class="flex-align">
                <img class="logo-title" src="img/logo-title.svg" alt="">
            </div>

        </div><!-- /slide -->


        <!-- SLIDE -->
        <div class="slide flex-align">

            <div class="flex-align">
                <div class="entry section-narrow">
                    <p class="text-md">Imprime tus fotos en papel mate con borde blanco, en 10 x 15 cms y recíbelas por correo en tu casa entre 4 y 7 días hábiles!</p>
                </div>
            </div>

        </div><!-- /slide -->


        <!-- SLIDE -->
        <div class="slide">

            <div class="flex-align">

                <div class="entry section-narrow">

                    <dl class="term-list text-md">
                        <dt>$1.500</dt>
                        <dd>Costo fijo de envío</dd>
                    </dl>


                    <svg class="icon icon-md color-success" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>

                    <dl class="term-list text-md">
                        <dt>$5.000</dt>
                        <dd>Las primeras 20 fotos</dd>
                    </dl>

                    <svg class="icon icon-md color-success" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>

                    <dl class="term-list text-md">
                        <dt>$1.000</dt>
                        <dd>Cada 5 fotos adicionales</dd>
                    </dl>

                </div>

            </div><!-- /flex-align -->

        </div><!-- /slide -->

    </div><!-- /slider -->

</div><!-- /main -->