
<!-- MAIN -->
<div class="main no-top-bar">

    <div class="content">

        <!-- PHOTO -->
        <div class="photo-item">

            <canvas class="cropper" width="{{canvas.width}}" height="{{canvas.height}}" tw-cropper="cropper" source="cropfile"></canvas>

        </div><!-- /photo-item -->

    </div><!-- /content -->

</div><!-- /main -->


<!-- BOTTOM BAR -->
<footer class="bar bottom-bar bar-solid">

    <h3 class="bar-title bar-title-md">Crop</h3>

				<span class="bar-nav">
					<a class="btn-icon" href="#/imprimir/seleccion">
                        <svg class="icon color-warning" fill="" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </a>
				</span>

				<span class="bar-nav bar-nav-right">
					<a class="btn-icon" ng-click="setCrop()">
                        <svg class="icon color-success" fill="" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
                        </svg>
                    </a>
				</span>

</footer>

