
<!-- MAIN -->
<div class="main no-top-bar no-bottom-bar">

    <div class="flex-align">

        <div class="content">

            <div class="entry">

                <p>Esto puede tardar algunos minutos...</p>

                <br>

                <div class="chart">

                    <canvas id="chart" width="240" height="240" tc-chartjs-doughnut chart-data="grafico_data" chart-options="grafico_option"></canvas>

                    <div class="chart-content">
                        <div>
                            <span class="chart-value chart-value-lg">{{pupload}}<small>%</small></span>
                        </div>
                    </div>

                </div>

                <h1>Fotos Transferidas</h1>

                <span class="text-lg">{{qtytrans}}/{{qtypics}}</span>

            </div><!-- /entry -->

        </div><!-- /content -->

    </div><!-- /flex-align -->

</div><!-- /main -->