


<!-- MAIN -->
<div class="main">

    <div class="flex-align">

        <div class="content">

            <div class="entry">

                <h1>Transacción Anulada</h1>

                <p>
                    La orden <b>{{orderid}}</b> ha sido anulada.
                </p>

                <div ng-show="webpayResponse==true">
                    <h1>Intentar nuevamente</h1>
                    <ul>
                        <li>Orden de compra: {{order._id}}</li>
                        <li>Monto total: $ {{order.total | miles}}</li>
                    </ul>
                    <form action="{{webpay_url}}" method="post" ng-show="webpayResponse==true">
                        <input type="hidden" name="token_ws" value="{{webpay_token}}" />
                        <button type="submit" class="btn btn-lg btn-default btn-block">Pagar con Webpay</button>
                    </form>
                </div>



            </div><!-- /entry -->

        </div><!-- /content -->

    </div><!-- /flex-align -->


</div><!-- /main -->


<!-- BOTTOM BAR -->
<footer class="bar bottom-bar">

    <div class="bb-group">
        <a class="btn-icon" href="#/">
            <svg class="icon" width="36px" height="36px" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                <path fill="#b6ce32" d="M18,3C9.7,3,3,9.7,3,18c0,8.3,6.7,15,15,15s15-6.7,15-15C33,9.7,26.3,3,18,3z M15.6,27l-2.1-2.1l6.9-6.9
							l-6.9-6.9L15.6,9l9,9L15.6,27z"/>
            </svg>
        </a>
    </div>

</footer>